<div class="quickstart">
  <div class="quickstart__bg">
    <div class="quickstart__container">
      <h1 id="greeting">Good Morning!</h1>

      <div class="step step--active">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a space</h2>
          <p>
            A space is a place where you keep all the content related to a single project.
          </p>
        </div>
      </div>

      <div class="step step--active">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a story</h2>
          <p>
            A story is a <strong>content entry</strong> which contains one or a collection of components.
          </p>
        </div>
      </div>

      <div class="step {% if story.content.body != blank %} step--active {% endif %}">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Your first API Request</h2>
          <p>
            It's all about your data - execute this simple GET Request to see the basic structure of the story you're currently editing here.
            {% if story.content.body == blank %}<button class="btn" data-show="#first-api">Make a Call</button>{% endif %}
          </p>
          <div id="first-api" {% if story.content.body == blank %} class="quickstart--hidden"{% endif %}>
            <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
              <pre><code data-pretty data-skip-body="true">{{story|json}}</code></pre>
            </div>
            <p>You can do this API Request with every language you can think of - we made some <a href="https://www.storyblok.com/docs/Delivery-Api/introduction" target="_blank">examples calls</a> for you.</p>
            <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
              <pre><code>curl -X GET "https://api.storyblok.com/v1/cdn/stories/home?token=xs8KfuZGvQVOM824AFUQDQtt"</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="step {% if story.content.body != blank %} step--active {% endif %}">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create your first component and define its structure</h2>
          <p>
            You can create and nest your own set of components by simple pressing 'Add Component' - start the tour to get to know more.
          </p>
          <button class="btn" data-start-tour>Start tour</button>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Good job!</h2>
          <p>You've just changed content and created your first unique content component! Let's see what changed after you've done that. <button class="btn" data-show="#second-api">Run API Call</button></p>
          <div class="quickstart--hidden" id="second-api">
            <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
              <pre><code data-pretty data-skip-body="">{{story|json}}</code></pre>
            </div>
            <em>Tip: Add more <a href="https://www.storyblok.com/docs/terminology/field-type" target="_blank">fields with different types</a> to your component and fill it with content.</em>
          </div>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Time to show</h2>
          <p>
            For maximum flexibility, Storyblok can be integrated into your application or website retrieving content from our API. But for those who want just a basic website, we offer a <a href="https://www.storyblok.com/docs/Rendering-Service/Introduction" target="_blank">rendering service</a> where the whole website is hosted in the cloud.
            <button>I want to API</button>
            <button>I want the rendering service</button>
          </p>
        </div>
      </div>

      {% comment %}<div class="quickstart__hint">
        Hint: Remove {% raw %}{% include 'quickstart' %}{% endraw %} from page.liquid to remove the quickstart instructions.
      </div>{% endcomment %}
    </div>
  </div>
</div>
