<div class="quickstart">
  <div class="quickstart__bg">
    <div class="quickstart__container">
      <h1>Good Morning, Alex</h1>

      <div class="step step--active">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a space</h2>
          <p>
            A space is a content repository. Think of it as a place to keep all the content related to one project.
            In the quickstart using the CLI we've already created that space - but you can of course [create it manually](How to create a space link goes here).
          </p>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a story</h2>
          <p>
            A story is a collection of instances of components filled with information. If you want to create a website you can go with - a story equals to a page.
            With the CLI we've also created a story called "Home" for you. You can still have a look at the tutorial on [how to create a story].
          </p>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Your first API Request</h2>
          <p>
            It's all about your data - execute this simple GET Request to see the basic structure of the story you're currently editing here.
            {% if story.content.body == blank %}<button class="btn" data-show="#first-api">Make a Call</button>{% endif %}
          </p>
          <div id="first-api" {% if story.content.body == blank %} class="u-hidden"{% endif %}>
            <div class="quickstart__t quickstart__t--active">
              <pre><code data-pretty data-skip-body="true">{{story|json}}</code></pre>
            </div>
            <p>You can do this API Request with every language you can think of - we [made some examples](link to the API request stuff) for you.</p>
            <div class="quickstart__t quickstart__t--active">
              <pre><code>curl -X GET "https://api.storyblok.com/v1/cdn/stories/home?token=xs8KfuZGvQVOM824AFUQDQtt"</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create your first component</h2>
          <p>
            You can create and nest your own set of components by simple pressing the 'add component' - we've arranged a tour for you so you won't get stuck anywhere.
          </p>
          <button class="btn">Start tour</button>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Good job!</h2>
          <p>You've just changed content and created your first unique content component! Let's see what changed after you've done that. <button class="btn" data-show="#second-api">Run API Call</button></p>
          <div class="quickstart__t quickstart__t--active u-hidden" id="second-api">
            <pre><code data-pretty data-skip-body="">{{story|json}}</code></pre>
          </div>
        </div>
      </div>

      <div class="step">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>You can now choose</h2>
          <p>
            Your data now needs a presentation layer - if you want to add storyblok into your existing project or start with a technology you want by clicking on selfhosted. If you want to directly use Storyblok with the built-in [Rendering Service](Rendinger service link goes here).
            <button>Existing Project / Selfhosted</button>
            <button>Rendering Service / Hosted</button>
          </p>
        </div>
      </div>

      {% comment %}<div class="quickstart__hint">
        Hint: Remove {% raw %}{% include 'quickstart' %}{% endraw %} from page.liquid to remove the quickstart instructions.
      </div>{% endcomment %}
    </div>
  </div>
</div>
